<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>官网后台</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">后台管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:U(Article/index)}">代表性文案<span class="sr-only">(current)</span></a></li>
                <li><a href="#">资源</a></li>
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员账号<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#changepwd">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:U('Login/logout')}">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row col-md-3">
        <ul class="list-group">
            <volist name="articles" id="vo">
                <a class="list-group-item" href="{:U('Article/article')}?id={$vo.id}">{$vo.title}<span class="badge">查看</span></a>
            </volist>
        </ul>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">添加文案</button>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加文案</h4>
            </div>
            <form action="{:U('Article/addArticle')}" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="articlename">文案标题</label>
                        <input type="text" class="form-control" id="articlename" name="title" placeholder="">
                    </div>
                    <div class="form-group">
                        <label>文案图片 <small>图片不得超过2MB</small></label>
                        <div>
                            <input type="file" name="pic" title="添加图片">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="articlecontent">文案内容</label>
                        <textarea name="content" class="form-control" id="articlecontent" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确认提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--changepwd-->
<div class="modal fade" id="changepwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <form action="{:U('Admin/changePwd')}" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newpwd">新密码</label>
                        <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="confirmpwd">确认密码</label>
                        <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary changepwd">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.file-input.js"></script>
<script>
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
    $('.change-pic').eq(0).css('display', 'none');
    $('.add-pic').eq(0).css('display', 'none');

    //修改文案
    $('.revise-article').on('click', function () {
        //解除input,textarea输入限制
        $(this).parents('form').eq(0).find('[disabled=disabled]').each(function (i, ele) {
            $(ele).removeAttr('disabled');
        });
        //隐藏修改按钮
        $(this).css('display', 'none');
        //显示确认按钮
        $('.confirm').css('display', 'inline-block');
        //显示图片按钮
        if ($('.is-pic').data('type')) {
            $('.pic').css('display', 'none');
            $('.change-pic').eq(0).css('display', 'inline-block');
        } else {
            $('.no-pic').css('display', 'none');
            $('.add-pic').eq(0).css('display', 'inline-block');
        }
    });

    //删除文案
    $('.del-article').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'post',
            url: '',
            data: {},
            success: function () {
                alert('删除成功!');
                location.reload();
            },
            error: function () {
                alert('删除失败!');
            }
        })
    });

    //修改密码
    $('.changepwd').on('click', function (e) {
        if ($('#newpwd').val() != $('#confirmpwd').val()) {
            e.preventDefault();
            alert('请确认密码一致');
            return false;
        }
    });
</script>
</body>
</html>