<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>官网后台</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">后台管理系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{:U(Article/index)}">网站信息<span class="sr-only">(current)</span></a></li>
                <li class=""><a href="{:U(Article/index)}">代表性文案<span class="sr-only">(current)</span></a></li>
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员账号<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#changepwd">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:U('Login/logout')}">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row col-md-12">
        <form action="{:U('Admin/reviseInfo')}" method="post">
            <div class="form-group">
                <label for="title">网站标题</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="" disabled="disabled" value="{$info['title']}">
            </div>
            <div class="form-group">
                <label for="phone">电话</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="" disabled="disabled" value="{$info['phone']}">
            </div>
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="" disabled="disabled" value="{$info['email']}">
            </div>
            <div class="form-group">
                <label for="address1">地址1</label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="" disabled="disabled" value="{$info['address1']}">
            </div>
            <div class="form-group">
                <label for="address2">地址2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="" disabled="disabled" value="{$info['address2']}">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-warning revise-info">修改信息</button>
                <button type="submit" class="btn btn-primary confirm" style="display: none">确认修改</button>
            </div>
        </form>
    </div>
</div>
<!--changepwd-->
<div class="modal fade" id="changepwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <form action="{:U('Admin/changePwd')}" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newpwd">新密码</label>
                        <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="confirmpwd">确认密码</label>
                        <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary changepwd">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery-1.11.3.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.file-input.js"></script>
<script>
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
    $('.change-pic').eq(0).css('display', 'none');
    $('.add-pic').eq(0).css('display', 'none');

    //修改信息
    $('.revise-info').on('click', function () {
        //解除input,textarea输入限制
        $(this).parents('form').eq(0).find('[disabled=disabled]').each(function (i, ele) {
            $(ele).removeAttr('disabled');
        });
        //隐藏修改按钮
        $(this).css('display', 'none');
        //显示确认按钮
        $('.confirm').css('display', 'inline-block');
    });

    //修改密码
    $('.changepwd').on('click', function (e) {
        if ($('#newpwd').val() != $('#confirmpwd').val()) {
            e.preventDefault();
            alert('请确认密码一致');
            return false;
        }
    });
</script>
</body>
</html>