<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta name="description" content="wholescene">
    <meta name="author" content="yaorui">
    <title>Wholescene</title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <script src="__PUBLIC__/js/jquery-1.11.3.js"></script>
    <script src="__PUBLIC__/js/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__/js/main.js"></script>
    <script>
        // 加载图片完显示
        var $bgs = ['__PUBLIC__/img/bg1.png', '__PUBLIC__/img/bg2.jpg', '__PUBLIC__/img/bg3.jpg'],
                imgs = [], imgLoad = 0;
        $.each($bgs, function (i, ele) {
            imgs[i] = new Image();
            imgs[i].src = ele;
            imgs[i].onload = function () {
                imgLoad++;
                if (imgLoad == $bgs.length) {
                    $('.load-back').fadeOut(1000, 'swing');
                }
            }
        });
    </script>
    <!--[if lt IE 9]>
        <script >
            alert('请在ie8以上浏览此网页');
            $('.load-back').css('display', 'none');
        </script>
    <![endif]-->
</head>
<body>
    <div class="load-back">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="nav">
        <img src="__PUBLIC__/img/logo.png" alt="" class="logo-nav">
        <li class="nav-li active"><a href="#0">首页</a></li>
        <li class="nav-li"><a href="#1">公司背景</a></li>
        <li class="nav-li"><a href="#2">财富管理</a></li>
        <li class="nav-li"><a href="#3">私人财富服务</a></li>
        <li class="nav-li"><a href="#4">团队介绍</a></li>
        <li class="nav-li"><a href="#5">了解更多</a></li>
        <li class="nav-li nav-li-last"><a href="#6">联络我们</a></li>
        <li class="terms modal-btn" modal-target="#clause">使用条款</li>
    </ul>
    <div class="content">
        <div class="block logo-con">
            <div class="words">{$info.title}</div>
        </div>
        <div class="block">
            <h1>公司背景</h1>
            <div class="row">
                <div class="pic">
                    <img src="__PUBLIC__/img/{$intro.imgurl}" alt="">
                </div>
                <div class="text">
                    <p class="text-p">
                        {$intro.brief}
                    </p>
                    <div class="btn-more modal-btn" modal-target="#modal1">继续了解</div>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>财富管理</h1>
            <div class="row">
                <div class="wrapper">
                    <volist name="services" id="service">
                        <div class="item">
                            <img src="__PUBLIC__/img/{$service.imgurl}" alt="">
                            <div class="item-info">
                                <h3>{$service.name}</h3>
                                <p>{$service.brief}</p>
                                <div class="btn-more modal-btn" modal-target="#service{$service.id}">详情</div>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>私人财富服务</h1>
            <div class="row">
                <div class="pic pull-right">
                    <img src="__PUBLIC__/img/{$finance.imgurl}" alt="">
                </div>
                <div class="text">
                    <p class="text-p">
                        {$finance.brief}
                    </p>
                    <div class="btn-more pull-right modal-btn" modal-target="#modal7">继续了解</div>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>团队介绍</h1>
            <volist name="members" id="member">
                <div class="row">
                    <div class="pic" style="width: {$key == 0 ? '16%' : '25%'}">
                        <img src="__PUBLIC__/img/{$member.imgurl}" alt="">
                    </div>
                    <div class="text">
                        <div class="text-p">
                            <h3>{$member.name}</h3>
                            <p>{$member.content}</p>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
        <div class="block">
            <h1>了解更多</h1>
            <div class="row">
                <h3 class="row-title">代表性文案</h3>
                <div class="row-articles">
                    <volist name="articles" id="vo">
                        <a class="modal-btn" modal-target="#article{$vo.id}">{$vo.title}<small>{$vo.date}</small></a>
                    </volist>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>联络我们</h1>
            <form action="{:U('Admin/guestpost')}" class="row form" method="post">
                <div class="form-left">
                    <div class="input-group">
                        <label>姓名</label>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="input-group">
                        <label>联络电话</label>
                        <input type="tel" name="phone" placeholder="Phone Number">
                    </div>
                    <div class="input-group">
                        <label>电子邮件</label>
                        <input type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="input-group">
                        <label>留言</label>
                        <textarea name="message" id="" rows="5" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn-more guestpost">提交</button>
                </div>
                <div class="form-right">
                    <h3>联络方式</h3>
                    <ul>
                        <li><span class="iconfont" style="font-size: 19px;">&#xe606;</span>{$info.phone}</li>
                        <li><span class="iconfont" style="margin-left: 1px;">&#xe62a;</span>{$info.email}</li>
                        <li><span class="iconfont" style="font-size: 18px;">&#xe622;</span>{$info.address1}</li>
                        <li><span class="iconfont" style="font-size: 18px;">&#xe622;</span>{$info.address2}</li>
                    </ul>
                    <br>
                    <h3>微信二维码</h3>
                    <img src="__PUBLIC__/img/qrcode.jpg" alt="" width="150">
                </div>
            </form>
        </div>
        <div class="footer">@2015.Whole Scene.All Rights Reserved.</div>
        <i class="toTop iconfont">&#xe6de;</i>
    </div>
    <div class="back">
        <div class="black"></div>
        <img class="bg" src="__PUBLIC__/img/bg1.png" alt="">
    </div>
    <!--modals-->
    <div class="modals" id="clause">
        <div class="layer">
            <h1 class="layer-title">使用条款 <i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <h2>使用条件</h2>
                <p>在使用本网站前，请先仔细阅读各条款。若您不同意使用条款，请离开本网站。如您使用本网站，即表示您完全同意以下的使用条款。有关条款可能会随时做出更改，并在本页刊登。您必须遵从有关更改。因此您应定期参阅本页，以得知相关的最新条款。</p>
                <h2>免责声明</h2>
                <p></p>
                <h2>网站的使用与目的</h2>
                <p>本网站的内容仅作信息宣传及参考之用，请勿利用或依赖本网站，以代替您之独立研究或泓盛环球代表提供给您之专业建议。本网站并不会亦无意提供任何[金融、保险、法律、会计或税务]建议，请勿赖以作为专业意见。本网站所载资料并不代表泓盛环球锐意推售泓盛环球所提供之任何[投资、证券、保险产品]或其他产品或服务的销售要约或购买建议。使用本网站所含内容，以及在使用网站时提供或提交任何信息并不会在您和泓盛环球之间构成任何服务（或产品）提供商–客户关系。请注意，您由于使用本网站而提供的任何信息均不属于特许信息或保密信息。并非所有泓盛环球的产品及服务在任何地区皆有提供，泓盛环球只提供该地区法律上合法容许销售的产品与服务。所有泓盛环球的产品及服务受相关合约条文所规范。</p>
                <h2>收集及使用非个人材料</h2>
                <p>泓盛环球亦会收集非个人资料，即不能与任何指定人士直接扣上关系之数据。泓盛环球可能会就任何目的收集、使用、转移及透露非个人资料，如网站使用者流量，而该项资料未能让泓盛环球用以识别特定人士。这些资料将会被集合并用作协助泓盛环球向客户提供更有用的资讯，了解客户对网站的哪部份、产品及服务感兴趣。
                </p>
                <h2>知识产权</h2>
                <p>所有商标、服务标志、商品名称、标识及功能标志拥有权均属泓盛环球所有。除非在这些条款明确说明及在适用的法例允许下，否则未得泓盛环球的书面批准，本网站所载任何内容均不应诠释为无论是以暗示、不容反悔法或其他形式之准予、任何特许或权利以使用泓盛环球的知识产权，包括但不限于本网站上显示的任何商标或标签。除在此网站列明可行的情况外，您绝对不得使用本网站上所显示的商标或标签，或本网站上任何其他内容。</p>
                <h2>网站终止或改变</h2>
                <p>本网站所含内容可随时更改，恕不另行通知。泓盛环球保留随时更改或修改本网站使用条款和条件的权利。使用条款和条件的更改、修改、添加或删除自通知公布起即时生效，通知形式不限，其中包括但不限于在本网站上发布通知。在此类通知发布后，以任何形式使用本网站均会被视为接受该等更改、修改、添加或删除。</p>
                <h2>安全</h2>
                <p>您表示知悉并确认，互联网并非可以确保稳私的安全媒介，且目前网上无法做到完全安全及保密。泓盛环球并不能保证使用本网站之机密性。您亦表示知悉您对本网站之使用（包括所传达之资料）将可能受到其他人士之接触及公开。在不影响其他免责条款下，泓盛环球不会对您及其他人士可能得到之伤害负上责任。</p>
            </div>
        </div>
    </div>
    <div class="modals" id="modal1">
        <div class="layer">
            <h1 class="layer-title">公司背景<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <h2>公司介绍</h2>
                <p>
                    {$intro.content}
                </p>
            </div>
        </div>
    </div>
    <volist name="services" id="service">
        <div class="modals" id="service{$service.id}">
            <div class="layer">
                <h1 class="layer-title">{$service.name}<i class="layer-close iconfont">&#xe628;</i></h1>
                <div class="con">
                    <p>
                        {$service.content}
                    </p>
                    <hr>
                    <ul>
                        <volist name="service['kind']" id="kind">
                            <li>{$kind}</li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </volist>
    <div class="modals" id="modal7">
        <div class="layer">
            <h1 class="layer-title">私人财富管理<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <p>
                    {$finance.content}
                </p>
            </div>
        </div>
    </div>
    <volist name="articles" id="vo">
        <div class="modals" id="article{$vo.id}">
            <div class="layer">
                <h1 class="layer-title">{$vo.title}<i class="layer-close iconfont">&#xe628;</i></h1>
                <div class="con">
                    <img src="__PUBLIC__/img/{$vo.imgurl}" alt="">
                    <br><br>
                    <p>{$vo.content}</p>
                </div>
            </div>
        </div>
    </volist>
    <script>
        $('.guestpost').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: $('form').attr('action'),
                type: 'post',
                data: {
                    name: $('input[name=name]').val() ? $('input[name=name]').val() : '空',
                    phone: $('input[name=phone]').val() ? $('input[name=phone]').val() : '空',
                    email: $('input[name=email]').val() ? $('input[name=email]').val() : '空',
                    message: $('textarea[name=message]').val() ? $('textarea[name=message]').val() : '空'
                },
                success: function () {
                    alert('提交成功!');
                },
                error: function () {
                    alert('提交失败!');
                }
            });
            return false;
        });
    </script>
</body>
</html>