<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <meta name="description" content="wholescene">
    <meta name="author" content="yaorui">
    <title>Wholescene</title>
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
    <script src="__PUBLIC__/js/jquery-1.11.3.js"></script>
    <script src="__PUBLIC__/js/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__/js/main.js"></script>
    <script>
        // 加载图片完显示
        var $bgs = ['__PUBLIC__/img/bg1.png', '__PUBLIC__/img/bg2.jpg', '__PUBLIC__/img/bg3.jpg'],
                imgs = [], imgLoad = 0;
        $.each($bgs, function (i, ele) {
            imgs[i] = new Image();
            imgs[i].src = ele;
            imgs[i].onload = function () {
                imgLoad++;
                if (imgLoad == $bgs.length) {
                    $('.load-back').fadeOut(1000, 'swing');
                }
            }
        });
    </script>
    <!--[if lt IE 9]>
        <script >
            alert('请在ie8以上浏览此网页');
            $('.load-back').css('display', 'none');
        </script>
    <![endif]-->
</head>
<body>
    <div class="load-back">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="nav">
        <img src="__PUBLIC__/img/logo.png" alt="" class="logo-nav">
        <li class="nav-li active"><a href="#0">首页</a></li>
        <li class="nav-li"><a href="#1">公司背景</a></li>
        <li class="nav-li"><a href="#2">财富管理</a></li>
        <li class="nav-li"><a href="#3">私人财富服务</a></li>
        <li class="nav-li"><a href="#4">团队介绍</a></li>
        <li class="nav-li"><a href="#5">了解更多</a></li>
        <li class="nav-li nav-li-last"><a href="#6">联络我们</a></li>
        <li class="terms modal-btn" modal-target="#clause">使用条款</li>
    </ul>
    <div class="content">
        <div class="block logo-con">
            <div class="words">{$info.title}</div>
        </div>
        <div class="block">
            <h1>公司背景</h1>
            <div class="row">
                <div class="pic">
                    <img src="__PUBLIC__/img/pic1.jpg" alt="">
                </div>
                <div class="text">
                    <p class="text-p">泓盛环球是一家来自香港的专业资产管理公司，联合本地龙头控股企业，并结合二者优势，成为重庆首家环球金融投资咨询服务公司，以完善的供应链条和金融分析能力为客户打造一站式的投资窗口。<br>泓盛环球凭借丰富的管理经验与专业的投资市场分析，为客户提供高质量的金融服务。精心挑选来自世界顶级金融机构的优质产品，实现客户投资目标。全方位从客户的角度出发，量身定制适合客户家庭或企业的财富管理方案。
                    </p>
                    <div class="btn-more modal-btn" modal-target="#modal1">继续了解</div>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>财富管理</h1>
            <div class="row">
                <div class="wrapper">
                    <div class="item">
                        <img src="__PUBLIC__/img/c1.jpg" alt="">
                        <div class="item-info">
                            <h3>跨境资产配置</h3>
                            <p>妥善管理资产，实现财富保值增值与传承</p>
                            <div class="btn-more modal-btn" modal-target="#modal2">详情</div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/img/c2.jpg" alt="">
                        <div class="item-info">
                            <h3>医疗保障</h3>
                            <p>从容面对各种风险</p>
                            <div class="btn-more modal-btn" modal-target="#modal3">详情</div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/img/c3.jpg" alt="">
                        <div class="item-info">
                            <h3>教育规划</h3>
                            <p>为子女接受良好教育未雨绸缪</p>
                            <div class="btn-more modal-btn" modal-target="#modal4">详情</div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/img/c4.jpg" alt="">
                        <div class="item-info">
                            <h3>固定资产</h3>
                            <p>全面的金融计划为您稳健护航</p>
                            <div class="btn-more modal-btn" modal-target="#modal5">详情</div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/img/c5.jpg" alt="">
                        <div class="item-info">
                            <h3>咨询服务</h3>
                            <p>身虽未动心已远行</p>
                            <div class="btn-more modal-btn" modal-target="#modal6">详情</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>私人财富服务</h1>
            <div class="row">
                <div class="pic pull-right">
                    <img src="__PUBLIC__/img/pic2.jpg" alt="">
                </div>
                <div class="text">
                    <p class="text-p">
                        泓盛环球私人财富服务致力于为全球高净值客户提供资产跨境配置方案及现金流规划，并与业内顶尖私人银行展开长期而密切的合作，以协助合作伙伴为高净值客户提供量身定制之顶级服务与财富管理方案。<br>泓盛环球旗下私人财富顾问皆受过特别培训，恪守最严格的信息安全标准，竭诚保护私人银行客户的机密及相关信息。着眼于长期、健康、双赢的合作关系；泓盛环球私人财富服务成为银行伙伴与高净值客户的独特桥梁，迄今服务遍及全球。
                    </p>
                    <div class="btn-more pull-right modal-btn" modal-target="#modal11">继续了解</div>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>团队介绍</h1>
            <div class="row">
                <div class="pic" style="width: 16%">
                    <img src="__PUBLIC__/img/zx.jpg" alt="">
                </div>
                <div class="text">
                    <div class="text-p">
                        <h3>张潇</h3>
                        <p>泓盛环球  境外资产管理总经理</p>
                        <p>毕业于四川外国语大学</p>
                        <p>目前在读重大EMBA，国际关系（英语）及国际金融双学士学位</p>
                        <p>国家理财规划师，助理会计师</p>
                        <p>曾获重庆市科研立项银奖</p>
                        <p>曾先后实习或入职与花旗银行，普华永道等多家外资机构</p>
                        <p>作为重庆本地第一批专业环球资产管理师参与筹建李嘉诚先生在渝唯一境外资产管理公司</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pic">
                    <img src="__PUBLIC__/img/hz.jpg" alt="">
                </div>
                <div class="text">
                    <div class="text-p">
                        <h3>团队</h3>
                        <p>泓盛环球拥有强大专业的投资管理团队，来自于香港李嘉诚先生旗下一家专业的金融资产管理公司—尚乘集团。拥有多年金融行业从业、  投资及经营等方面丰富的经验与优秀的成绩。是重庆唯一一支拥有专业境外管理经验的团队，累计销售额占本地财富管理的60%。
                        </p>
                    </div>
                    <!--<div class="btn-more modal-btn" modal-target="#modal14">观看视频</div>-->
                </div>
            </div>
        </div>
        <div class="block">
            <h1>了解更多</h1>
            <div class="row">
                <h3 class="row-title">代表性文案</h3>
                <div class="row-articles">
                    <volist name="articles" id="vo">
                        <a class="modal-btn" modal-target="#article{$vo.id}">{$vo.title}<small>{$vo.date}</small></a>
                    </volist>
                </div>
            </div>
        </div>
        <div class="block">
            <h1>联络我们</h1>
            <form action="{:U('Admin/guestpost')}" class="row form" method="post">
                <div class="form-left">
                    <div class="input-group">
                        <label>姓名</label>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="input-group">
                        <label>联络电话</label>
                        <input type="tel" name="phone" placeholder="Phone Number">
                    </div>
                    <div class="input-group">
                        <label>电子邮件</label>
                        <input type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="input-group">
                        <label>留言</label>
                        <textarea name="message" id="" rows="5" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn-more guestpost">提交</button>
                </div>
                <div class="form-right">
                    <h3>联络方式</h3>
                    <ul>
                        <li><span class="iconfont" style="font-size: 19px;">&#xe606;</span>{$info.phone}</li>
                        <li><span class="iconfont" style="margin-left: 1px;">&#xe62a;</span>{$info.email}</li>
                        <li><span class="iconfont" style="font-size: 18px;">&#xe622;</span>{$info.address1}</li>
                        <li><span class="iconfont" style="font-size: 18px;">&#xe622;</span>{$info.address2}</li>
                    </ul>
                    <br>
                    <h3>微信二维码</h3>
                    <img src="__PUBLIC__/img/qrcode.jpg" alt="" width="150">
                </div>
            </form>
        </div>
        <div class="footer">@2015.Whole Scene.All Rights Reserved.</div>
        <i class="toTop iconfont">&#xe6de;</i>
    </div>
    <div class="back">
        <div class="black"></div>
        <img class="bg" src="__PUBLIC__/img/bg1.png" alt="">
    </div>
    <!--modals-->
    <div class="modals" id="clause">
        <div class="layer">
            <h1 class="layer-title">使用条款 <i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <h2>使用条件</h2>
                <p>在使用本网站前，请先仔细阅读各条款。若您不同意使用条款，请离开本网站。如您使用本网站，即表示您完全同意以下的使用条款。有关条款可能会随时做出更改，并在本页刊登。您必须遵从有关更改。因此您应定期参阅本页，以得知相关的最新条款。</p>
                <h2>免责声明</h2>
                <p></p>
                <h2>网站的使用与目的</h2>
                <p>本网站的内容仅作信息宣传及参考之用，请勿利用或依赖本网站，以代替您之独立研究或泓盛环球代表提供给您之专业建议。本网站并不会亦无意提供任何[金融、保险、法律、会计或税务]建议，请勿赖以作为专业意见。本网站所载资料并不代表泓盛环球锐意推售泓盛环球所提供之任何[投资、证券、保险产品]或其他产品或服务的销售要约或购买建议。使用本网站所含内容，以及在使用网站时提供或提交任何信息并不会在您和泓盛环球之间构成任何服务（或产品）提供商–客户关系。请注意，您由于使用本网站而提供的任何信息均不属于特许信息或保密信息。并非所有泓盛环球的产品及服务在任何地区皆有提供，泓盛环球只提供该地区法律上合法容许销售的产品与服务。所有泓盛环球的产品及服务受相关合约条文所规范。</p>
                <h2>收集及使用非个人材料</h2>
                <p>泓盛环球亦会收集非个人资料，即不能与任何指定人士直接扣上关系之数据。泓盛环球可能会就任何目的收集、使用、转移及透露非个人资料，如网站使用者流量，而该项资料未能让泓盛环球用以识别特定人士。这些资料将会被集合并用作协助泓盛环球向客户提供更有用的资讯，了解客户对网站的哪部份、产品及服务感兴趣。
                </p>
                <h2>知识产权</h2>
                <p>所有商标、服务标志、商品名称、标识及功能标志拥有权均属泓盛环球所有。除非在这些条款明确说明及在适用的法例允许下，否则未得泓盛环球的书面批准，本网站所载任何内容均不应诠释为无论是以暗示、不容反悔法或其他形式之准予、任何特许或权利以使用泓盛环球的知识产权，包括但不限于本网站上显示的任何商标或标签。除在此网站列明可行的情况外，您绝对不得使用本网站上所显示的商标或标签，或本网站上任何其他内容。</p>
                <h2>网站终止或改变</h2>
                <p>本网站所含内容可随时更改，恕不另行通知。泓盛环球保留随时更改或修改本网站使用条款和条件的权利。使用条款和条件的更改、修改、添加或删除自通知公布起即时生效，通知形式不限，其中包括但不限于在本网站上发布通知。在此类通知发布后，以任何形式使用本网站均会被视为接受该等更改、修改、添加或删除。</p>
                <h2>安全</h2>
                <p>您表示知悉并确认，互联网并非可以确保稳私的安全媒介，且目前网上无法做到完全安全及保密。泓盛环球并不能保证使用本网站之机密性。您亦表示知悉您对本网站之使用（包括所传达之资料）将可能受到其他人士之接触及公开。在不影响其他免责条款下，泓盛环球不会对您及其他人士可能得到之伤害负上责任。</p>
            </div>
        </div>
    </div>
    <div class="modals" id="modal1">
        <div class="layer">
            <h1 class="layer-title">公司背景<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <h2>公司介绍</h2>
                <p>泓盛环球是一家来自香港的专业资产管理公司，联合本地龙头控股企业，并结合二者优势，成为重庆首家环球金融投资咨询服务公司，以完善的供应链条和金融分析能力为客户打造一站式的投资窗口。</p>
                <p>泓盛环球凭借丰富的管理经验与专业的投资市场分析，为客户提供高质量的金融服务。精心挑选来自世界顶级金融机构的优质产品，实现客户投资目标。全方位从客户的角度出发，量身定制适合客户家庭或企业的财富管理方案。</p>
                <p>泓盛环球时刻以客户利益为中心，秉承“服务至高无上”的理念，致力为高净值客户提供广泛及优质的资产管理和投资理财服务。借助遍布全球各大金融中心专业机构服务，泓盛环球矢志在专业技术,产品支持及服务素质上为客户带来最优体验。不仅协助客户妥善管理资产配置方案，同时更全方位贴心照顾客户生活所需，帮助客户更好的融入当地生活
                </p>
                <h3>主要股东</h3>
                <q>重庆泓蕴控股有限公司</q>
                <h3>战略合作伙伴</h3>
                <p>中国富强金融集团</p>
                <h3>合作伙伴</h3>
                <p>零售银行：汇丰银行、渣打银行、花旗银行、澳新银行、永隆银行</p>
                <p>私人银行：瑞银集团、瑞士信贷、JP Morgan、德意志银行、新加坡银行</p>
                <p>保险公司：安盛保险、保诚保险、友邦保险、宏利保险、永明保险</p>
                <p>基金公司：贝莱德集团、黑石集团、施罗德基金、首域投资、富兰克林</p>
                <h2>集团架构</h2>
            </div>
        </div>
    </div>
    <div class="modals" id="modal2">
        <div class="layer">
            <h1 class="layer-title">跨境资产配置<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <p>随着资本国际流动性的日益增强，以及个人和家族财富的不断积累，亚洲高净值人士对于资产的跨境多元化配置愈发青睐，这也和国内投资环境的现状不无关系：</p>
                <p>征税环境不甚明朗，财富随时可能被新增税种侵蚀；</p>
                <p>投资币种单一，无法在境内市场实现风险分散或对冲；</p>
                <p>信托作为财富传承的重要工具，在国内面临有名无实的窘境......</p>
                <p>成功的跨境投资者需要清楚了解产品特性、风险及自身承受能力，因此选择拥有跨区域投资条件和实力的理财机构对您尤为重要。泓盛环球依香港而辐射全球，拥有全牌照金融资质，并与本地实力财团强强联手，为您提供全球化资产配置服务，包括税务优化、信托设立、投资移民及不同国籍之后代财产集成规划，助您妥善管理资产，实现财富保值增值与传承。</p>
                <hr>
                <ul>
                    <li>投资移民标准</li>
                    <li>外汇基金管理</li>
                    <li>家族财富传承</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modals" id="modal3">
        <div class="layer">
            <h1 class="layer-title">医疗保障<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <p>有效的风险管理决定了完备的总体规划，并与投资、税负、遗产和退休计划等相辅相成。针对个人伤病风险管理，泓盛为您提供全面的解决方案，包括海外就医计划、住院医疗和手术费用报销计划、重大疾病收入补偿计划、长期护理计划等。为您实现风险转移或最小化、确保您从容面对各种风险并舒缓您的经济负担。
                </p>
                <hr>
                <ul>
                    <li>家庭医疗计划</li>
                    <li>定制保险服务</li>
                    <li>个人健康管理</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modals" id="modal4">
        <div class="layer">
            <h1 class="layer-title">教育规划<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <p>成功的父母必然懂得为子女接受良好教育未雨绸缪，提前安排合适的教育储蓄为子女前程保驾护航无疑是明智之举。泓盛环球长于分析热门留学目的地之生活用度，并结合特殊资金安排、年金储蓄等财务手段助您合理规划教育成本，为子女深造铺就坚实基础。
                </p>
                <hr>
                <ul>
                    <li>留学资金安排</li>
                    <li>长期分红储蓄</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modals" id="modal5">
        <div class="layer">
            <h1 class="layer-title">固定资产<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <p>全面的金融计划为您稳健护航，融入海外生活固定资产亦是必不可少。一处良宅，一亩葡园抑或一艘白帆不仅让您放松疲惫的身体，更令心灵找到新的归宿。看似平常的购置背后凝聚着泓盛环球在多年处理方外诸国律法税赋风土人情所积累的智慧，只为您解除后顾之忧，安心享受当地生活。
                </p>
                <hr>
                <ul>
                    <li>房产</li>
                    <li>大宗商品</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modals" id="modal6">
        <div class="layer">
            <h1 class="layer-title">咨询服务<i class="layer-close iconfont">&#xe628;</i></h1>
            <div class="con">
                <p>身虽未动心已远行。无论赴境外投资置业或求学移居，林林总总的陌生规则教人不得不谋定而后动。泓盛环球专长海外事务，为您的家庭企业走向全球提供最有价值的建议。
                </p>
                <hr>
                <ul>
                    <li>境外融资</li>
                    <li>社会服务</li>
                    <li>离岸公司</li>
                </ul>
            </div>
        </div>
    </div>
    <volist name="articles" id="vo">
        <div class="modals" id="article{$vo.id}">
            <div class="layer">
                <h1 class="layer-title">{$vo.title}<i class="layer-close iconfont">&#xe628;</i></h1>
                <div class="con">
                    <img src="__PUBLIC__/img/{$vo.imgurl}" alt="">
                    <br><br>
                    <p>{$vo.content}</p>
                </div>
            </div>
        </div>
    </volist>
    <script>
        $('.guestpost').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                url: $('form').attr('action'),
                type: 'post',
                data: {
                    name: $('input[name=name]').val(),
                    phone: $('input[name=phone]').val(),
                    email: $('input[name=email]').val(),
                    message: $('input[name=message]').val()
                },
                success: function () {
                    alert('提交成功!');
                },
                error: function () {
                    alert('提交失败!');
                }
            });
            return false;
        });
    </script>
</body>
</html>